*{
	margin: 0px;
	padding: 0px;
}
	body{
		background-image: url('/assets/images/orange_wall.jpg');
		background-size: cover;
	}
		
		.underline{
			text-decoration: underline;
		}

/*	NAVBAR STYLING	*/

.navbarHeader{
	background-image: url('/assets/images/newwood.jpeg');
	background-size: cover;
	min-height: 150px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 35px;
}
	.navbarLogo{
		background-image: url('/assets/images/orange_logo_100x77.png');
		height: 100px;
		width: 77px;
		background-repeat: no-repeat;
	}
		.navbarSpacer{
			padding-left: 25px;
			margin-top: 40px;
		}

		.navLinkBack{
			padding-top: 20px;
			opacity: 0.85;
			min-height: 50px;
		}
		.navLinks{
			margin-left: 2px;
			margin-right: 2px;
			margin-top: 20px;
			padding-top: 20px;
			border-radius: 50%;
			height: 70px;
			width: 70px;
			text-decoration: none;
			text-align: center;
			display: inline-block;
			font-size: 18px;
		}
		.navLinksDropdown{
			margin: 0 auto;
			background-color: rgb(197,112,4);
		}
			.navLinksDropdownColor{
				color: black;
			}
				.currentDropdown{
					font-weight: bold;		
				}

			.navLinkOff{
				background-color: black;
			}
			.navLinkOn{
				background-color: rgb(197,112,4);
			}
			.navLinkColorOn{
				height: 125px;
				color: black;
			}
			.navLinkColorOff{
				height: 125px;
				color: rgb(197,112,4);
			}

			.listLinkBack{
				border-radius: 25px;
				background-color: black;
				font-weight: bold;
			}
				.linkColor{
					color: rgb(197,112,4);
				}
			.listLinkBackOn{
				border-radius: 25px;
				background-color: rgb(197,112,4);
				font-weight: bold;
			}

				.listLinkColor{
					text-decoration: none;
					color: rgb(197,112,4);
					background-color: none;
					font-size: 20px;
					padding: 2px;
					border-radius: 2px;
				}
				.listLinkColorOn{
					text-decoration: none;
					color: black;
					background-color: transparent;
					font-size: 20px;
					padding: 2px;
					border-radius: 2px;
				}
				.linkColorOn{
					color: black;
				}



			.centerCart{
				
				text-align: center;
				margin-left: 15px;
				background-color: black;
				
				
				color: red;
			}
				
	.toggleBox{
		width: 40px;
		height: 40px;
		background-color: orange;
	}

/* Review Board Styling */

		#reviewBoardLeft{
			display: inline-block;
			margin-right: -25px;
			margin-top: 50px;
			padding-top:50px;
			height: 700px;
			width: 443px;
			font-family: cursive;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			background-image: url('/assets/images/notebook_left.png');
			margin-bottom: 5px;
		}
			.sendBtn{
				margin-left: 15px;
				margin-top: 10px;
				margin-bottom: 10px;		
			}

		#reviewBoardRight{
			display: inline-block;
			margin-top: 50px;
			padding-top: 25px;
			padding-left: 90px;
			height: 700px;
			width: 443px;
			font-family: cursive;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 10px;
			overflow-y: scroll;
			background-image: url('/assets/images/notebook_right.png');
		}
		@media (max-width: 500px){
			#ratingbox{
				padding-left: 25%;
				min-width: 600px;
			}
			#review_content{
				min-height: 200px;
			}
		}
		@media (min-width: 501px){
			#ratingbox{
				padding-left: 25%;
				min-width: 600px;
		}
		@media (min-width: 980px){
			#ratingbox{
				padding-left: 0px;
				min-width: 600px;
			}
		}
			.reviewBlock{
				width: 100%;
				padding: 15px;
				padding-bottom: 20px;
				border-bottom: 1px solid black;
			}
			.reviewAuthor{

				text-align: right;
			}
			#review_content{
				min-height: 200px;
			}
			.reviewTimeStamp{
				text-align: right;
				margin-bottom: 20px;
			}
				.redCup{
					color: orange;
				}
				.blackCup{
					color: black;
				}
			
			#reviewFooter{
				margin-top: 700px;
			}