/* General Styling */
*{
	margin: 0px;
	padding: 0px;
}
@font-face{ 
	font-family: 'KeepCalm';
	src: url('keepcalm-medium-webfont.eot');
	src: url('keepcalm-medium-webfont.eot?#iefix') format('embedded-opentype'),
	     url('keepcalm-medium-webfont.woff') format('woff'),
	     url('keepcalm-medium-webfont.ttf') format('truetype'),
	     url('keepcalm-medium-webfont.svg#webfont') format('svg');
}
.centerText{
	text-align: center;
}

/*	NAVBAR STYLING	*/

.navbarHeader{
	background-image: url('/assets/images/newwood.jpeg');
	background-size: cover;
	min-height: 150px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}
	.navbarLogo{
		background-image: url('/assets/images/orange_logo_100x77.png');
		height: 100px;
		width: 77px;
		background-repeat: no-repeat;
	}
		.navbarSpacer{
			padding-left: 25px;
			margin-top: 40px;
		}

		.navLinkBack{
			padding-top: 20px;
			opacity: 0.85;
			min-height: 50px;
		}
		.navLinks{
			margin-left: 2px;
			margin-right: 2px;
			margin-top: 20px;
			padding-top: 20px;
			border-radius: 50%;
			height: 70px;
			width: 70px;
			text-decoration: none;
			text-align: center;
			display: inline-block;
			font-size: 18px;
		}
		.navLinksDropdown{
			margin: 0 auto;
			background-color: rgb(197,112,4);
		}
			.navLinksDropdownColor{
				color: black;
			}
				.currentDropdown{
					font-weight: bold;		
				}

			.navLinkOff{
				background-color: black;
			}
			.navLinkOn{
				background-color: rgb(197,112,4);
			}
			.navLinkColorOn{
				height: 125px;
				color: black;
			}
			.navLinkColorOff{
				height: 125px;
				color: rgb(197,112,4);
			}

			.listLinkBack{
				border-radius: 25px;
				background-color: black;
				font-weight: bold;
			}
				.linkColor{
					color: rgb(197,112,4);
				}
			.listLinkBackOn{
				border-radius: 25px;
				background-color: rgb(197,112,4);
				font-weight: bold;
			}

				.listLinkColor{
					text-decoration: none;
					color: rgb(197,112,4);
					background-color: none;
					font-size: 20px;
					padding: 2px;
					border-radius: 2px;
				}
				.listLinkColorOn{
					text-decoration: none;
					color: black;
					background-color: transparent;
					font-size: 20px;
					padding: 2px;
					border-radius: 2px;
				}
				.linkColorOn{
					color: black;
				}



			.centerCart{
				
				text-align: center;
				margin-left: 15px;
				background-color: black;
				
				
				color: red;
			}
				
	.toggleBox{
		width: 40px;
		height: 40px;
		background-color: orange;
	}


/* Main Content Styling */
#body{
	background-image: url('/assets/images/orange_wall.jpg');
	background-size: cover;
}
	.contentDiv{
			padding: 10px;
	      	margin-top: 50px;
	      	color: orange;
	      	background-color: black;
	      	border: 2px solid white;
	      	border-radius: 5px;
	      	box-shadow: 10px 10px 10px black;
		}

/* Coffee Pot */

.bg {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.centered {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.pour {
  width: 10px;
  height: 180px;
  background-color: #3D2517;
  border-top-right-radius: 60px;
  /* border-bottom-right-radius: 50px; */
  /* border-bottom-left-radius: 20px; */
  
  overflow: hidden;
}

.stripes {
  position: relative;
  width: 10px;
  height: 5px;
  background-color: #4D3113;
  -webkit-transform: rotate(45deg);
  -webkit-animation: pour 0.8s infinite linear;
}

.stripes:nth-child(2) {
  -webkit-animation: pour 0.8s 0.3s infinite linear;
}

.stripes:nth-child(3) {
  -webkit-animation: pour 0.8s 0.6s infinite linear;
}

.splash {
  width: 10px;
  height: 10px;
  background-color: #4D3113;
  border-radius: 50%;
  -webkit-animation: splash-right 0.4s infinite linear;
}

.splash:nth-child(2) {
  -webkit-animation: splash-left 0.4s 0.2s infinite linear;
}

.splash:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -webkit-animation: splash-high 0.6s 0.1s infinite linear;
}

.pot {
  width: 200px;
  height: 200px;
  left: -280px;
  top: -192px;
  background-color: rgba(0, 0, 0, 0.2);
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 45%;
  border-bottom-left-radius: 45%;
  -webkit-transform: rotate(60deg);
  overflow: hidden;
}

.pot-handle {
  width: 40px;
  height: 60px;
  top: -400px;
  left: -405px;
  border: black solid 13px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50%;
  -webkit-transform: rotate(63deg);
}

.pot-lip {
  width: 40px;
  height: 40px;
  left: -50px;
  top: -190px;
  background-color: black;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.pot-bar {
  width: 30px;
  height: 120px;
  left: -120px;
  top: -290px;
  background-color: black;
  border-top-right-radius: 5px;
  -webkit-transform: rotate(-30deg);
}

.pot-lines {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 30px;
  width: 1px;
  height: 100px;
  background-color: black;
}

.tick {
  position: relative;
  display: block;
  left: -10px;
  width: 10px;
  height: 1px;
  margin: 10px;
  background-color: black;
}

.fill {
  position: absolute;
  margin: auto;
  bottom: -50px;
  width: 300px;
  height: 150px;
  background-color: #3D2517;
  -webkit-transform: rotate(-60deg);
  -webkit-animation: wiggle 0.4s infinite ease-in-out;
}

.coffee {
  width: 140px;
  height: 10px;
  top: 180px;
  background-color: #3D2517;
  border: 5px solid #F2B879;
  border-radius: 50%;
}

.ripple {
  position: absolute;
  opacity: 0;
  height: 3px;
  margin: auto;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #4D3113;
  -webkit-animation: ripple 0.55s 0.4s infinite linear;
}

.ripple:nth-child(2) {
  -webkit-animation: ripple 0.55s 0.6s linear;
}

.cup {
  padding-top: 10px;
  padding-left: 30px;
  width: 150px;
  height: 80px;
  top: 260px;
  background: -webkit-linear-gradient(#F2B879 30%, #A37D53);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom: #EDCEAD solid 1px;
}

.cup-bottom {
  width: 50px;
  height: 4px;
  top: 338px;
  background-color: #EDCEAD;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.cup-handle {
  width: 30px;
  height: 20px;
  top: 250px;
  left: -160px;
  border: #E6AE73 solid 10px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50%;
}

.plate {
  position: absolute;
  width: 150px;
  height: 20px;
  top: 340px;
  background-color: #F2B879;
  border-radius: 50%;
}

.plate#inner {
  width: 120px;
  height: 15px;
  background: -webkit-radial-gradient(#A37D53, #F2B879 70%);
}

@-webkit-keyframes pour {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes ripple {
  0% {
    opacity: 1;
    width: 0px;
  }
  100% {
    opacity: 0;
    width: 160px;
  }
}

@-webkit-keyframes splash-right {
  0% {
    width: 0px;
    height: 0px;
    top: 180px;
  }
  60% {
    width: 5px;
    height: 4px;
    top: 150px;
    left: 30px;
  }
  100% {
    width: 6px;
    height: 6px;
    top: 180px;
    left: 50px;
  }
}

@-webkit-keyframes splash-left {
  0% {
    width: 0px;
    height: 0px;
    top: 180px;
  }
  60% {
    width: 5px;
    height: 4px;
    top: 150px;
    left: -30px;
  }
  100% {
    width: 6px;
    height: 6px;
    top: 180px;
    left: -50px;
  }
}

@-webkit-keyframes splash-high {
  0% {
    width: 3px;
    height: 5px;
    top: 180px;
  }
  50% {
    width: 3px;
    height: 5px;
    top: 120px;
  }
  60% {
    width: 2px;
    height: 2px;
    top: 115px;
    left: -20px;
  }
  100% {
    width: 3px;
    height: 3px;
    top: 180px;
    left: -30px;
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(-62deg);
  }
  50% {
    -webkit-transform: rotate(-58deg);
  }
  100% {
    -webkit-transform: rotate(-62deg);
  }
}
#coffeeDrip{
  height: 450px;
}
#constructionNotice{
  font-family: 'KeepCalm';
  margin-top: 25px;
}	